@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #36454F
}

body {
  font-family: 'Manrope', sans-serif;
  color: var(--primary-text-color);
  // text-shadow: 1px 0px black;
}

.home__wrapper {
  background-image: url('./assets/school5.jpg');
  background-size: cover;
  object-fit: cover;
  width: 100vw;
  min-height: 100vh;
}